.disclaimer {
    text-align: center;
    background: #abbaab;  /* fallback for old browsers */
     background: linear-gradient(to bottom, #11f7eb, #1686c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }